<div class="mt-5">
  <input type="text" id="coupon_code" class="border-0 border-bottom rounded me-5 py-3 mb-4" placeholder="Coupon Code">
  <button class="btn border-secondary rounded-pill px-4 py-3 text-primary" onclick="applyDiscount()" type="button">
    Apply Coupon
  </button>
  <button
    class="btn border-secondary rounded-pill px-4 py-3 text-danger"
    onclick="removeDiscount()"
    type="button"
    style="display:none"
  >
    Remove Coupon
  </button>
  <p class="mb-0 mt-4 text-danger" id="error_note" style="display:none">123</p>
</div>

<script>
  function removeDiscount() {
    fetch('/discount/CLEAR')
      .then(function (response) {
        return response.text();
      })
      .then(function (data) {
        cartData();
      });
  }

  function cartData() {
    fetch(window.Shopify.routes.root + 'cart.js', {
      method: 'GET',
      headers: {
        'Content-Type': 'application/json',
      },
    })
      .then((response) => {
        return response.json();
      })
      .then((data) => {
        console.log(data);
      })
      .catch((error) => {
        console.error('Error:', error);
      });
  }

  function applyDiscount() {
    var code = document.getElementById('coupon_code').value;
    console.log(code);
    var error_note = document.getElementById('error_note');
    if (code == '') {
      error_note.style.display = 'block';
      error_note.innerHTML = 'Coupon code is required!';
      return false;
    }
    let discountApplyUrl = window.location.href + '/checkout?discount=' + code + '&t=' + Date.now();
    fetch(discountApplyUrl)
      .then(function (response) {
        return response.text();
      })
      .then(function (data) {
        cartData();
      });
  }
</script>
