{% comment %} {%- liquid
  if cart == empty
    render 'icon-cart-empty'
  else
    render 'icon-cart'
  endif
-%} {% endcomment %}
{% comment %} <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span> {% endcomment %}
<i class="fa fa-shopping-bag fa-2x"></i>
{%- if cart != empty -%}
  <div class="">
    {%- if cart.item_count < 100 -%}
      <span
        aria-hidden="true"
        class="position-absolute bg-secondary rounded-circle d-flex align-items-center justify-content-center text-dark px-1"
        style="top: -5px; left: 15px; height: 20px; min-width: 20px;"
      >
        {{- cart.item_count -}}
      </span>
    {%- endif -%}
    <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
  </div>
{%- endif -%}
