{% if section.blocks != blank %}
  <div class="container-fluid py-5">
    <div class="container">
      <div class="bg-light p-5 rounded">
        <div class="row g-4 justify-content-center">
          {% for block in section.blocks %}
            <div class="col-md-6 col-lg-6 col-xl-3">
              <div class="counter bg-white rounded p-5">
                {{ block.settings.icon }}
                <h4>{{ block.settings.fact_name }}</h4>
                <h1>{{ block.settings.fact_value }}</h1>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endif %}
{% schema %}
{
  "name": "Fact Section",
  "blocks": [
    {
      "type": "fact_section",
      "name": "Add Facts",
      "limit": 4,
      "settings": [
        {
          "type": "text",
          "id": "icon",
          "label": "Add Icon"
        },
        {
          "type": "text",
          "id": "fact_name",
          "label": "Fact Name"
        },
        {
          "type": "text",
          "id": "fact_value",
          "label": "Fact Value"
        }
      ]
    }
  ]
}
{% endschema %}
