{% for block in section.blocks %}
  {%- case block.type -%}
    {%- when "heading" -%}
      <h1>{{ block.settings.heafeatured_iconding }}</h1>
  {% endcase %}
{% endfor %}

{% schema %}
{
  "name": "featured-section",
  "blocks": [
    {
      "type": "featured_section",
      "name": "Featured Section",
      "limit": 4,
      "settings": [
        {
          "type": "text",
          "id": "featured_icon",
          "label": "Add Icon",
        },
        {
          "type": "text",
          "id": "featured_heading",
          "label": "Add Heading"
        },
        {
          "type": "text",
          "id": "featured_content",
          "label": "Add Content"
        }
      ]
    }
  ]
}
{% endschema %}
